data/*
labs/*/data/*
!labs/lab1_text/data/
!labs/lab1_text/data/dev_sentences.csv
*.wav
*.npy
*.pth
*.TextGrid

# окружение
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env

# редакторы
.idea/
.vscode/
.DS_Store
